
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lexend', sans-serif;
    background-color: #DEDEDE;
}



.announce-area {
    font-weight: bold;
    width: 100%;            /* Full width */
    height: 140px;          /* Initial height */
  
    max-width: 100%;       /* Maximum width */
    resize: none;      /* Allow vertical resizing only */
    overflow: auto;        /* Allow scrolling if content overflows */
    transition: height 0.3s ease; /* Smooth transition for height change */
    
    font-size: 18px;         /* Font size for readability */
    padding: 10px;           /* Padding for better spacing */
    box-sizing: border-box;  /* Include padding in width and height calculations */
}

.announce-area:disabled {
    background-color: white;  /* Light gray background */
    color: black;             /* Gray text color */
}



/* Table Styles */
.table-container {
  
    border-collapse: collapse; /* Merge borders */
    width: 100%; /* Full width */
  
   
    overflow: hidden; /* Ensure rounded corners work */
}

/* Table Header Styles */
.table-header {
    background-color: #4CAF50; /* Header background color */
    color: white; /* Header text color */
    text-align: left; /* Align text to the left */
    padding: 12px; /* Padding for header cells */
    font-weight: bold; /* Bold header text */
     font-size: 18px;      
}

/* Table Cell Styles */
.table-cell {
    border: 1px solid #ddd; /* Border around cells */
    padding: 12px; /* Padding inside cells */
      font-size: 18px;      
    font-weight: bold;
    color: green;
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Row Styles */
.table-row {
    transition: background-color 0.3s; /* Smooth transition for row background color */
}

.table-row:nth-child(even) {
    background-color: #e6ffe6; /* Light gray for even rows */
}

.table-row:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.table-row:hover {
    background-color: #e8f5e9; /* Change background color on hover */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .table-container {
        display: block; /* Make the table block on small screens */
        overflow-x: auto; /* Enable horizontal scroll */
    }

    /* Adjust header and cell padding for smaller screens */
    .table-header, .table-cell {
        padding: 10px; /* Reduced padding */
       font-size: 18px;      
    }
}

/* Additional Styles for Visual Appeal */
.table-header, .table-cell {
   
}

.table-header {
    
}

/* Optional: Add a light border for the table */
.table-container {
 
}


.copy-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 18px;      
    cursor: pointer;
}

.copy-button:hover {
    background-color: white;
}

 .copy-button img {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}



.card-container{
    background:/*#ECF0F1;*/ #dedede;
   
    border-radius: 10px;
 
}
.div-bar{
    height: 5px;  /* Thickness of the line */
    width: 100%;  /* Full width of the container */
    background-color: #546E7A;  /* Line color (change as needed) */
    margin-bottom: 20px;  /* Optional: adds space above and below the line */
    border-radius: 5px;  /* Optional: rounds the edges of the line */
}

.card-border{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /*left 25, middle 50 right 25*/
    gap: 1rem;
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .card-border {
        grid-template-columns: 1fr; /* Stack all items on top of each other */
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .card-border {
        grid-template-columns: 1fr 1fr; /* 2 columns for medium screens */
    }
}

.card-wrapper-column{ /*LEFT MOST PART OF THE DIV, ACCOUNTS*/
    display: flex;
    flex-direction:column;
    /*flex-wrap:wrap WRAPS THE CONTENT IN A HORIZONTAL MANNER //ROW */
    gap: 1rem;
    /*width:300px;*/
}
.card-class-page {
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    height: 100%;  
    display: flex;
    color: #000000; 
    cursor: pointer; /* Pointer cursor on hover */
    justify-content: center; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-acc{
    display: flex;
    justify-content: space-between; /* Space between title and value */
    width: 100%; /* Ensure it takes full width */
}

.card-acc-defense{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items to the start */
    width: 100%; /* Ensure it takes full width */
    
    
}

.title{
    font-size: 18px;      
    font-weight: 600;
    color: black;
}
.arrow-key{
        font-size: 18px;      
    text-align: right;
}
.acc-value{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin: auto; 
    background-color: #D1642E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
   
}

.announce-value{
    margin-top: 10px;
     font-size: 18px;      
    line-height: 1;
    text-align:left;
    margin-left: auto; 
    
}

.card-pending-title{
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    height: 100%;  
    display: flex;
    color: #000000; 
    cursor: pointer; /* Pointer cursor on hover */
    justify-content: center; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20);
    
    flex-direction: column;
    justify-content: space-between;
}

.card-active-acc:hover{
    transform: translateY(-3px);
}
.card-pending-acc:hover{
    transform: translateY(-3px);
}

.card-wrapper-flex-wrap{ /*MIDDLE PART OF THE DIV, PIE CHARTS*/
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: auto;
    /*flex-wrap:wrap WRAPS THE CONTENT IN A HORIZONTAL MANNER //ROW */
}
.card-wrapper-column-2{   /*RIGHT MOST PART OF THE DIV, ACAD YR + ANNOUNCEMENTS*/
    display: flex;
    flex-direction:column;
    /*flex-wrap:wrap WRAPS THE CONTENT IN A HORIZONTAL MANNER //ROW */
    width: 100%;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 1rem;
    /*width:300px;*/
}

.card-academicyr-acc{
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    height: 100%;   
    display: flex;
    color: #000000; 
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20)
}
.card-academicyr-acc:hover{
    transform: translateY(-3px);
}
.card-acadyr{
    align-items: center;
}


.card-announcements{
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    height: 100%;  
    display: flex;
    color: #000000; 
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20)
}

.card-profile-link {
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 100%;
    height: 100%;  
    display: flex;
    color: #000000; 
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20);
    
   
    align-items: center; /* Center items vertically */
    cursor: pointer; /* Pointer cursor on hover */
    flex-direction: column; /* Arrange children vertically */
    justify-content: center; /* Center text vertically */
    text-align: center; /* Center text horizontally */
}

.collapsible { /*BUTTON*/
    background-color: #066ba2;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;      
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: -7px;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20); /* Shadow effect */
}

.collapsible:hover {
    background-color: #004870;
}


.collapsible:after {
    content: '\25BC';
    color: white;
    float: right;
    margin-left: 5px;
      
}

.active:after {
   
    
}

.content-collapsible {
    padding: 15px;
    display: block; /* Makes the content visible by default */
    overflow: hidden;
    background-color: #066ba2;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    min-height: 150px; 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.20); /* Shadow effect */
}
.button-container {
    display: flex;            
    justify-content: flex-end; 
    margin-top: 50px;      
}

.progress-bar-container {
    width: 70%;  /* Adjust width based on how much space you want the progress bar to take */
 
    border-radius: 5px;
    height: 10px;  /* Adjust height if needed */
    margin-left: 5px;  /* Add some space between the button text and progress bar */
    position:relative;
}


.collapsible { /*BUTTON*/
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    color: #000000;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 50px;
    
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: -7px;
    font-weight: bold;
}

.collapsible:hover {
    background-color: #eeeeee;
}


.collapsible:after {
    content: '\25BC';
    color: #d1642e;
    float: right;
    margin-left: 5px;
}

.active:after {
  
}

.content-collapsible {
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    padding: 15px;
    display: block; 
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    min-height: 150px; 
}
.button-container {
    display: flex;            
    justify-content: flex-end; 
    margin-top: 50px;      
}
.card-table-faculty{
    background: #fff;/* #F1C40F;#2E2E2E*/ 
    border-color: #ffffff;
    border-style: solid;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    height: auto;
     font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: -7px;
    font-weight: bold;
}

.progress-bar-container {
    width: 70%;  /* Adjust width based on how much space you want the progress bar to take */
   
    border-radius: 5px;
    height: 10px;  /* Adjust height if needed */
    margin-left: 5px;  /* Add some space between the button text and progress bar */
    position:relative;
}


 